@page "/my-orders"
@inherits OrdersBase

<h4 style="margin-left: 40px;">Мои заказы</h4>

<div>
    @if (ordersList is null || ordersList!.Count().Equals(0))
    {
        <h4 style="margin: 40px;">Список заказов пуст</h4>
    }
    else
    {
        @foreach (var order in ordersList!)
        {
            @if (order.Status != "Доставлен")
            {
                <div>
                    <h3>Статус заказа: @order.Status</h3>
                </div>
                <div class="grid">
                    @foreach (var item in order.Items)
                    {
                        <div class="grid-item">
                            <div class="wrapper">
                                <div class="box header">
                                    <label>@item.Name</label>
                                </div>
                                <div class="box sidebar">
                                    <img style="max-height:200px; max-width:300px;" src="@item.ImageUrl" />
                                </div>
                                <div class="box content">
                                    <label style="align-content:flex-start;">Цена: @item.Price руб</label>
                                    <label style="align-content:flex-start;">Количество: @item.Quantity шт</label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div>
                    <h3>Заказ от: @order.CreatedDate.Date.ToShortDateString()</h3>
                </div>
                <div class="grid">
                    @foreach (var item in order.Items)
                    {
                        <div class="grid-item">
                            <div class="wrapper">
                                <div class="box header">
                                    <label>@item.Name</label>
                                </div>
                                <div class="box sidebar">
                                    <img style="max-height:200px; max-width:300px;" src="@item.ImageUrl" />
                                </div>
                                <div class="box content">
                                    <label style="align-content:flex-start;">Цена: @item.Price руб</label>
                                    <label style="align-content:flex-start;">Количество: @item.Quantity шт</label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        }
    }
</div>

